.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #f8a434;
  font-family: "Lato", sans-serif;
  color: #fdfcfb;
  text-align: center;
}

.alligned{
  justify-content: center;
  text-align: center;
  align-items: center;
}

.inline{
  display: inline-block;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

/* /f8a434   ff9100 */
.body {
  background: #f8a434;
  font-family: "Lato", sans-serif;
  color: #fdfcfb;
  text-align: center;
}

.form {
  width: 450px;
  margin: 17% auto;
}

.header {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}

.input {
  display: flex;
  align-items: center;
}

.email {
  height: 44px;
  border: none;
  width: 75%;
  background: #fdfcfb;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

.submit {
  width: 25%;
  height: 46px;
  background: #e86c8d;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.submit:hover {
  background: #d45d7d;
}

.input:focus {
  outline: none;
  outline: 2px solid #e86c8d;
  box-shadow: 0 0 2px #e86c8d;
}

.formDiv{
  background: #d45d7d;
}

.li {
  list-style-type: none;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 480px) {
  /* .body {
    background-color: lightgreen;
    margin: 0 auto;
  } */
  .email {
    height: 44px;
    border: none;
    width: 200px;
    background: #fdfcfb;
    font-family: inherit;
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
  }
  
}